<%- include("header") -%>

<div class="box" id="heading">
  <h1 class="title">MARKET: <%= stock.companyName %> (<%= stock.symbol %>) </h1>

  <div class="main">

    <!-- search box -->
    <div class="form-group has-search">
      <form action="/" method="POST">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="search" class="form-control" name="stock_ticker" placeholder="Search Stock Symbol...">
        <button type="submit" class="btn btn-primary btn-form mx-auto d-block">Search</button>
      </form>
    </div>

  </div>
</div>

<div class="container content">
  <div class="row justify-content-around">
    <div class="col-4 stck-content">
      <p><strong>Lates Price: </strong>$<%= stock.latestPrice %></p>
      <p><strong>Previous Close: </strong>$<%= stock.previousClose %></p>
      <p><strong>Change Percent: </strong><%= stock.changePercent %>%</p>
      <p><strong>YTD Change: </strong><%= stock.ytdChange %>%</p>
    </div>
    <div class="col-4 stck-content">
      <p><strong>Lates Price: </strong>$<%= stock.latestPrice %></p>
      <p><strong>Previous Close: </strong>$<%= stock.previousClose %></p>
      <p><strong>Change Percent: </strong><%= stock.changePercent %>%</p>
      <p><strong>YTD Change: </strong><%= stock.ytdChange %>%</p>
    </div>
  </div>
</div>




<%- include("footer") -%>
