<%- include("header") -%>

<div class="box" id="heading">
  <h1 class="title">MARKET: <%= stock.companyName %> (<%= stock.symbol %>) </h1>

  <div class="main">

    <!-- search box -->
    <div class="form-group has-search">
      <form action="/" method="POST">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="search" class="form-control" name="stock_ticker" placeholder="Search Stock Symbol...">
        <button type="submit" class="btn btn-primary btn-form mx-auto d-block">Search</button>
      </form>
    </div>

  </div>
</div>

<div class="container content">
  <div class="row justify-content-around">
    <div class="col-lg-4 stck-content">
      <p><strong>Real Time Price: </strong>$ <%= stock.iexRealtimePrice; %></p>
      <p><strong>Previous Close: </strong>$ <%= stock.previousClose.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'); %></p>
      <p><strong>Change Percent: </strong><%= stock.changePercent.toFixed(5) %>%</p>
      <p><strong>Change: </strong>$ <%= stock.change.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'); %></p>
    </div>
    <div class="col-lg-4 stck-content">
      <p><strong>Market Cap: </strong>$ <%= stock.marketCap.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'); %></p>
      <p><strong>Week 52 High: </strong>$ <%= stock.week52High.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'); %></p>
      <p><strong>Week 52 Low: </strong>$ <%= stock.week52Low.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'); %></p>
      <p><strong>YTD Change: </strong><%= stock.ytdChange.toFixed(5) %>%</p>
    </div>
  </div>
</div>




<%- include("footer") -%>
